# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: joschi/setup-jdk@v2
        with:
          java-version: '8'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Archive snapshot
        uses: actions/upload-artifact@v1
        with:
          name: kafka-connect-snmp-0.0.2.jar
          path: ./target/kafka-connect-snmp-0.0.2-SNAPSHOT.jar
